<mat-card>
  <mat-card-header> Fill in Employee Details</mat-card-header>
  <mat-card-content>
    <form [formGroup]="employeeForm">
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput type="text" formControlName="id" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput type="text" formControlName="phone" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput type="text" formControlName="location" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Employee Type</mat-label>
        <input matInput type="text" formControlName="employeeType" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Employee Group</mat-label>
        <input matInput type="text" formControlName="employeeGroup" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <input matInput type="text" formControlName="status" />
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="addEmployeeDetails()">
      Submit
    </button>
    <button mat-raised-button color="accent" (click)="closePopup()">
      Close
    </button>
  </mat-card-content>
</mat-card>
